  body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      //overflow: hidden; /* Prevent scrollbars */
    }


    .content {
      text-align: center;
     
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }


.data_cssx{
background:#ddd;
padding:2px;
height:auto;
border:none;
color:black;
border-radius:20%;
font-size:12px;
text-align:center;
}


.data_cssx:hover{
background:orange;
color:black;

}
 
 .button {
      background-color: #8B0000; 
      color: white;
      padding: 6px;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;
    }

.button:hover {
background: orange;
color:black;
}

    /* Navigation Menu */
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #8B0000; 
      padding: 10px;
      z-index: 10;
      display: flex;
      align-items: center; 
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end; 
      align-items: center;
    }

    nav li {
      margin: 0 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
    }

    nav a:hover {
      //text-decoration: underline;
background: orange;
color:black;
padding:10px;
border:none;
    }

    /* Logo Styling */
    .logo {
      max-width: 100px; /* Adjust max-width as needed */
      height: auto;
      margin-left: 20px; /* Adjust margin as needed */
    }


.btn_css{
background-color:#8B0000;
padding: 10px;
color:white;
border-radius: 20%;
border: none;
cursor: pointer;
width:400px;

}
.btn_css:hover {
background: orange;
color:black;
}



.ai_css{
background:#ccc;padding:6px;border-radius:20%;
}

.ai_css:hover{
background:orange;color:black;
}


.upload_progress{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}
.upload_progress2{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}


.upload_progress3{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}


.upload_progress4{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}


.upload_progress5{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}


.upload_progress6{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}


.upload_progress10{
padding:10px;
background:green;
color:white;
cursor:pointer;
min-width:30px;
}

  #imageupload_preview
{
max-height:200px;
max-width:200px;
}


.css_ai{
background:purple;color:white;padding:6px;border:none;border-radius:25%;
//margin: 0 1%;
margin: 0.2%;
display: inline-block;
}

.css_ai:hover{
background: orange;
color:black;

}